<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Test Main Page</title>
  </head>
  <body>
    <h1>Test Main Page</h1>
    <h2>Please login to your account</h2>
    <form method="post" id="download_form">
      <label for="UserName">Username:</label>
      <input
        type="text"
        id="UserName"
        name="UserName"
        id="user_name"
        autocomplete="off"
      /><br />

      <label for="StudentID">StudentID:</label>
      <input
        type="text"
        id="StudentID"
        name="StudentID"
        autocomplete="off"
      /><br />
      <input type="submit" value="Login" id="submit_btn" />
    </form>

    <p id="log"></p>

    <br />
    {{template "menu"}}
  </body>
</html>
