<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Test Main Page</title>
  </head>
  <body>
    <h1>Exam Starts</h1>
    <h2>{{.UserName}}, {{.StudentID}}</h2>
    <br />
    <h2>Your exam starts from {{.StartTime}} and will end at {{.EndTime}}</h2>



<form method="post" enctype="multipart/form-data">
    <label for="UploadFile">Select a files to upload your result:</label>
    <input
      type="file"
      id="UploadFile"
      name="UploadFile"
      accept=".py,.zip,image/*"
      multiple
    />

    <button id="Submit", name="Submit">Submit</button>
  </div>
</form>

    <p id="log"></p>

    <br />
    {{template "menu"}}
  </body>
</html>
